/* Styles for Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  /* Styles for Home, Request, and Profile */
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Styles for Request */
  .request {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Styles for Profile */
  .profile {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
#Main{
  position: relative;
}  